#card {
    width: 200px;
    height: 250px;
    box-shadow: 0 0 20px 2px white;
    border-radius: 8px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: 1s;
}

#card h1 {
    text-align: center;
}

#card p {
    text-align: center;
}


.pirveli {
    background-color: aliceblue;
    width: 300px;
}

.meore {
    background-color: blueviolet;
    color: white;
}